{% extends "base.html" %}

{% block title %}{{ liveblog.title }}{% endblock %}
{% block header_text %}{{ liveblog.title }}{% endblock %}

{% block content %}
    <button class="post-button">POST</button>
    <textarea class="content-post"></textarea>
    <hr>
    <div id="posts">
        {% for post in posts %}
            <div class="post" data-post-id="{{ post.id }}">
                <h2>{{ post.created|date:"D d M Y H:i" }}</h2>
                {{ post.html_body }}
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block extra_body %}
    <script>
        $(function () {
            var ws_path =  window.location.pathname + "stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            webSocketBridge.listen(function(data) {
                console.log("Got message " + data);
                // Create the inner content of the post div
                var content = "<h2>" + data.created + "</h2>" + data.html;
                // See if there's a div to replace it in, or if we should add a new one
                var existing = $("div[data-post-id=" + data.id + "]");
                if (existing.length) {
                    existing.html(content);
                } else {
                    var newdiv = $("<div class='post' data-post-id='" + data.id + "'>" + content + "</div>");
                    $("#posts").prepend(newdiv);
                }
            });

            // save blog post
            $(".post-button").click(function(){
                if($(".content-post").val() == "")
                {
                    alert("Empty text");
                }
                else
                {
                    var content = $(".content-post").val()
                    webSocketBridge.send({"post":content});
                    $(".content-post").val('');
                }

            });


            // Helpful debugging
            webSocketBridge.socket.onopen = function() { console.log("Connected to notification socket"); }
            webSocketBridge.socket.onclose = function() { console.log("Disconnected to notification socket"); }
        });
    </script>
{% endblock %}
